body {
	font-family: Helvetica, arial, sans-serif;
}

h1, h2, h3 {
	text-align: center;
}

h1, h2 {
	font-family: "Hobo Std", arial, sans-serif;
}

h1 {
	color:#A91101;
}

h2 {
	color:black;
	font-size: 26px;
	padding-bottom: 50px;
	border-bottom: 2px solid #eee;
}

h2#contact {
	padding-top: 20px;
	border: none;
	color: #FFF;
}

h3 {
	font-size: 22px;
	padding-bottom: 40px;
}

p {
	text-align: justify;
}

footer {
	background-color: #A91101;
	text-align: center;
	color:#fff;
}

.menu {
	background-color: #fff;
	border-color: transparent;
} 

.top-menu {
	max-width: 1250px;
} 

.navbar-brand img {
	height: 30px;
} 

.menu .tab li a {
	color: #000;
	font-family: "Hobo Std", arial, sans-serif;
	text-transform: uppercase;
} 

.menu .tab li a:hover {
	color:grey;
} 

.parallax-window {
	min-height: 700px;
	background: transparent;
} 

.dark-container {
	background-color: #F5F5F5;
}

.dark-container h2 {
	border-color: #FFF;
}

.container ul{
	text-align: left;
	list-style-image: url(../assets/list_image.png);
	list-style-position: inside;
}

.poster {
	padding-bottom: 50px;
} 

.poster .poster-container {
	position: relative;
}

.poster-container img, .overlay {
	border-radius: 10px;
}

.poster-container img {
	width:100%;
}

.poster .poster-container .overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
	color: #FFF;
	font-size: 20px;
	opacity: 0;
	transition:0.5s;
} 

.poster-container:hover .overlay {
	background: rgba(0, 0, 0, .8);
	opacity: 1;
	transition:0.5s;
}

.infos {
	position: absolute;
	top: 50%;
	width: 100%;
	margin: auto;
	transform : translateY(-50%);
} 

.infos p {
	text-align: center;
}

.row {
	padding: 20px 0;
}

.custom-center{
	text-align: center;
}

footer .description{
	font-size: 15px;
	padding-left: 0px;
	text-align: center;
	margin: 0 auto;
}

.description img{
	padding: 25px 0;
}

.description li a{
	color:#fff;
}

@media screen and (min-width: 200px) and (max-width: 640px) {
	.custom-center img{
		margin-bottom: 20px;
		margin-top: 20px;
	}
}



